<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <title>Teams Clone</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
      <!-- Favicons -->
      <link href="assets/img/favicon.png" rel="icon">
      <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      <!-- Vendor CSS Files -->
      <link href="assets/vendor/aos/aos.css" rel="stylesheet">
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
      <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
      <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
      <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
      <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
      <!-- Template Main CSS File -->
      <link href="assets/css/style.css" rel="stylesheet">
      <!-- =======================================================
         ======================================================== -->
   </head>
   <body>
      <!-- ======= Header ======= -->
      <header id="header" class="fixed-top d-flex align-items-center">
         <div class="container d-flex align-items-center">
            <h1 class="logo me-auto"><a href="#">Teams-Clone<span>.</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt=""></a>-->
            <nav id="navbar" class="navbar order-last order-lg-0">
               <ul>
                  <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                  <li><a class="nav-link scrollto" href="#about">About</a></li>
                  <li><a class="nav-link scrollto" href="#team">Contact</a></li>
                  <li><a class="nav-link scrollto" href="#about"><% if (user) { %>
                     Welcome, <%= user.email.substring(0, 10) %>..
                     <% } else { %>
                     Log in
                     <% } %></a>
                  </li>
               </ul>
            </nav>
            <!-- .navbar -->
            <% if (user) { %>
            <i class="bi bi-list mobile-nav-toggle">Logout</i>
            <a href="/logout" class="get-started-btn scrollto">Logout
            </a>
            <% } %>
         </div>
      </header>
      <!-- End Header -->
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex align-items-center">
         <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <div class="row">
               <div class="col-xl-6">
                  <h1>A Real time 'Free' Video Call webApp</h1>
                  <h2>A fully secure video call and much more!!!</h2>
                  <a href="#about" class="btn-get-started scrollto">Get Started</a>
               </div>
            </div>
         </div>
      </section>
      <!-- End Hero -->
      <main id="main">
         <!-- ======= Clients Section ======= -->
         <!-- ======= About Section ======= -->
         <section id="about" class="about section-bg">
            <div class="container" data-aos="fade-up">
               <div class="row no-gutters">
                  <div class="content col-xl-5 d-flex align-items-stretch">
                     <div class="content">
                        <h3>Microsoft Teams Clone</h3>
                        <p>
                           A real time video call and chat application just a click away!
                        </p>
                        <% if(!user) { %>
                        <a href="/login" class="about-btn"><span>Login Now</span> <i class="bx bx-chevron-right"></i></a>
                        <% } else { %>
                        <a href="#counts" class="about-btn"><span>Join Room Now</span> <i class="bx bx-chevron-right"></i></a>
                        <% } %>
                     </div>
                  </div>
                  <div class="col-xl-7 d-flex align-items-stretch">
                     <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                           <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                              <i class="bx bx-receipt"></i>
                              <h4>Join multiple peoples</h4>
                              <p>No limit of number of people can Join, Join as much as your screen permits :)</p>
                           </div>
                           <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                              <i class="bx bx-cube-alt"></i>
                              <h4>Chat while video Calling</h4>
                              <p>Chat without disturbing the flow of your video call</p>
                           </div>
                           <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                              <i class="bx bx-images"></i>
                              <h4>Mute unMute Pause Resume</h4>
                              <p>Fully feature video call! You can mute/Pause yourself whenever you want! </p>
                           </div>
                           <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                              <i class="bx bx-shield"></i>
                              <h4>Privacy</h4>
                              <p>Your video call is fully protected, No body can spectate you!!</p>
                           </div>
                        </div>
                     </div>
                     <!-- End .content-->
                  </div>
               </div>
            </div>
         </section>
         <!-- End About Section -->
         <% if(user) { %>
         <!-- ======= Counts Section ======= -->
         <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">
               <div class="row">
                  <div class="col-lg-6 col-md-6">
                     <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span>Join Room by Id</span>
                        <form style="margin:10px;">
                           <input type="text" placeholder="write roomId To Join" name="room" class="form-control" style="margin: 5px;" />
        
                           <button type="submit"  class="btn btn-primary" style="margin-top: 5px;">Join</button>
                        </form>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mt-5 mt-md-0">
                     <a href="/joinNewRoom">
                        <div class="count-box">
                           <i class="bi bi-journal-richtext"></i>
                           <span>Create new Meeting Now!!</span>
                           <p style="color: green;">(No need to provide id)</p>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </section>
         <% } %>
         <!-- End Counts Section -->
         <!-- ======= Team Section ======= -->
         <section id="team" class="team section-bg">
            <div class="container" data-aos="fade-up">
            <div class="section-title">
               <h2>Developer</h2>
            </div>
            <div class="row">
               <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                  <div class="member" data-aos="fade-up" data-aos-delay="100">
                     <div class="member-img">
                        <img src="assets/img/team/me.jpg" class="img-fluid" alt="">
                        <div class="social">
                           <a href="https://www.facebook.com/profile.php?id=100008871126253"><i class="bi bi-facebook"></i></a>
                           <a href="https://www.instagram.com/roshan._.mehta/"><i class="bi bi-instagram"></i></a>
                           <a href="https://www.linkedin.com/in/roshan-kumar-/"><i class="bi bi-linkedin"></i></a>
                        </div>
                     </div>
                     <div class="member-info">
                        <h4>Roshan Kumar</h4>
                        <span>Sophomore at IIT Guwahati</span>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Team Section -->
      </main>
      <!-- End #main -->
      <!-- ======= Footer ======= -->
      <footer id="footer">
         <div class="container d-md-flex py-4">
            <div class="me-md-auto text-center text-md-start">
               <div class="copyright">
                  &copy; <strong><span>Microsoft Teams Clone</span></strong>. All Rights Reserved
               </div>
               <div class="credits">
                  <p>© | made by
                     <a href="https://www.linkedin.com/in/roshan-kumar-/" target="_blank">Roshan</a>
                  </p>
               </div>
            </div>
         </div>
      </footer>
      <!-- End Footer -->
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      <!-- Vendor JS Files -->
      <script src="assets/vendor/aos/aos.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="assets/vendor/php-email-form/validate.js"></script>
      <script src="assets/vendor/purecounter/purecounter.js"></script>
      <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
      <script>
         const form = document.querySelector('form');
           console.log("form");
         form.addEventListener('submit', (event) => {  
         	event.preventDefault();
             console.log("RoomId : ");
         	const roomId = form.room.value;
         	// if (user)
         	location.assign(`/join/${roomId}`);
         	// else pass;
         
         });
      </script>
      <!-- Template Main JS File -->
      <script src="assets/js/main.js"></script>
   </body>
</html>